.articolo {
    position: relative;
    display: inline-block;
}

.sconto {
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.cuore {
    color: red;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.minore {
    background-color: red;
}

.seconda {
    margin-top: 15px;
}