.container{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.articolo {
    position: relative;
    display: inline-block;
}

.sconto {
    position: absolute;
    top: 0;
    right: 0;
}

.cuore {
    color: red;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}

.sconto.red {
    background-color: red;
}
.sconto.green {
    background-color: green;
}

.row {
    margin-top: 15px;
}

.articolo:hover .cuore{
    display: block;
}